html,

* {
    font-family: 'Geneva', Tahoma, Verdana, sans-serif;
    color: whitesmoke;
}

body {
    background-color: rgb(26, 26, 26);
}

.container {
    width: 500px;
    margin: 20px auto;
}

.head {
    text-align: center;
}

#bold {
    font-size: 25px;
    font-weight: bold;
}
